@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato:wght@100;300&family=Open+Sans:ital,wght@1,300&display=swap');

@media screen and (max-width: 1279px) {
    .our-name {
        font-family: 'Dancing Script', cursive;
        font-size: 1.8rem;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.1em;
        margin-top: 0.1rem;
    }

    .leaf-image {
        height: 12rem;
        width: 7rem;
    }

    .leaf-image-right {
        height: 12rem;
        width: 7rem;
    }

    .content {
        font-family: 'Open Sans', italic;
        text-align: center;
        font-size: 0.8rem;
    }

    .guest-name {
        font-family: 'Lato';
        text-align: center;
        font-size: 1rem;
    }

    .button-open {
        font-family: 'Lato';
        text-align: center;
        font-size: 0.5rem;
    }
}


@media screen and (min-width: 1280px) {
    .our-name {
        font-family: 'Dancing Script', cursive;
        font-size: 5.5rem;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.1em;
    }

    .content {
        font-family: 'Open Sans';
        text-align: center;
        font-size: 1.8rem;
    }

    .guest-name {
        font-family: 'Lato';
        text-align: center;
        font-size: 1.8rem;
    }

    .button-open {
        font-family: 'Lato';
        text-align: center;
        font-size: 1.1rem;
    }
}

.leaf-image-right {
    text-align: right
}

.button-open {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.hero.is-info {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('../images/welcome.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}