/* 
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); 
*/

:root {
    ::-webkit-scrollbar {
        height: 10px;
        width: 10px
    }

    ::-webkit-scrollbar-track {
        background: #efefef;
        border-radius: 6px
    }

    ::-webkit-scrollbar-thumb {
        background: #d5d5d5;
        border-radius: 6px
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #c4c4c4
    }
}

.hero-pink {
    background: rgb(247, 233, 232);
}

.hero-basic {
    background: rgb(250, 250, 250);
}

.link-a {
    color: turquoise;
}

.modal-content {
    width: 60%;
}

footer {
    font-family: 'Open Sans';
    color: rgb(47, 46, 46);
    background: rgb(247, 233, 232) !important;
}

strong {
    color: turquoise;
}

footer a {
    color: turquoise;
}

.subtitle-pink {
    color: rgb(247, 233, 232);
}

#parallax-1 {
    background: url('~assets/images/hands.JPG');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 1280px) {
    .title-name {
        font-family: 'Lato';
        font-size: 1.5rem;
        line-height: normal;
        text-align: center;
        letter-spacing: 1.25em;
    }

    .subtitle-name {
        font-family: 'Open Sans';
        font-size: 1.2rem;
    }

    .subtitle-name-cursive {
        font-family: 'Dancing Script', cursive;
        font-size: 1.5rem;
    }

    .title-content {
        font-family: 'Lato';
        font-size: 1.5rem;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.5em;
        padding: 0px;
    }

    .title-content-cursive {
        /* font-family: 'Great Vibes', cursive; */
        font-family: 'Dancing Script', cursive;
        font-size: 1.5rem;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.5em;
        padding: 0px;
    }

    .subtitle-content {
        font-family: 'Lato';
        font-size: 1.2rem;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.3em;
        padding: 0px;
    }

    .subtext-content {
        font-family: 'Open Sans', cursive;
        font-size: 1rem;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.1em;
        padding: 0px;
    }

    .subtext-content-cursive {
        font-family: 'Dancing Script', cursive;
        font-size: 1.2rem;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.1em;
        padding: 0px;
    }

    .quotes-content-cursive {
        font-family: 'Dancing Script', cursive;
        font-size: 1.5rem;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.1em;
        padding: 0px;
    }

    .text-content {
        font-family: 'Open Sans';
        font-size: 0.8rem;
    }

    .content-layout {
        min-height: 30rem;
    }

    .side-image {
        margin: 0px;
        max-height: 1rem;
    }

    .box {
        width: 320px;

        img {
            width: 82px;
            margin-bottom: 15px;
            margin-top: 15px;
            align-items: center;
        }

        button.modal-close {
            width: 30px;
            font-size: 20px;
            color: #c0c5cb;
            align-self: flex-end;
            background-color: transparent;
            border: none;
            margin-bottom: 10px;
        }
    }

    button.show {
        width: 100px;
        padding: 14px;
        font-size: 16px;
    }

    #parallax-1 {
        height: 1100px;
        width: 100%;
    }

    #parallax-2 {
        background-image: url("~assets/images/last-1.png");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1300px;
    }
}

@media screen and (max-width: 1279px) {
    .title-name {
        font-family: 'Lato';
        font-size: 1rem;
        line-height: normal;
        text-align: center;
        letter-spacing: 1em;
        margin-top: 5rem;
    }

    .subtitle-name {
        font-family: 'Open Sans';
        font-size: 0.8rem;
    }

    .subtitle-name-cursive {
        font-family: 'Dancing Script', cursive;
        font-size: 0.8rem;
    }

    .title-content {
        font-family: 'Lato';
        font-size: 1rem;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.2em;
        padding: 0px;
    }

    .title-content-cursive {
        font-family: 'Dancing Script', cursive;
        font-size: 1rem;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.2em;
        padding: 0px;
    }


    .subtitle-content {
        font-family: 'Lato';
        font-size: 0.9rem;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.1em;
        padding: 0px;
    }

    .subtext-content {
        font-family: 'Open Sans';
        font-size: 0.9rem;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.1em;
        padding: 0px;
    }

    .subtext-content-cursive {
        font-family: 'Dancing Script', cursive;
        font-size: 0.9rem;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.1em;
        padding: 0px;
    }

    .quotes-content-cursive {
        font-family: 'Dancing Script', cursive;
        font-size: 1rem;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.1em;
        padding: 0px;
    }

    .text-content {
        font-family: 'Open Sans';
        font-size: 0.5rem;
    }

    .content-layout {
        min-height: 28rem;
    }

    .box {
        width: 200px;

        img {
            width: 20px;
            height: 20px;
            margin-bottom: 10px;
            margin-top: 10px;
            align-items: center;
        }
    }

    button.show {
        width: 60px;
        padding: 14px;
        font-size: 12px;
    }

    #parallax-1 {
        height: 500px;
    }

    #parallax-2 {
        background-image: url("~assets/images/last-2.png");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }
}

@media (max-width: 599px) {
    .left-image {
        margin: auto;
    }
}

hr.content-divider {
    max-width: 75px;
    height: 5px;
}

.label {
    color: white;
}

input {
    background: transparent !important;
    border: 1px solid turquoise !important;
    color: white !important;
}

input::placeholder {
    color: white !important;
}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
    animation: heartbeat 1.5s infinite;
    margin: 0 auto
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: rgb(247, 233, 232);
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

@keyframes heartbeat {
    0% {
        transform: scale(.75);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(.75);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(.75);
    }

    100% {
        transform: scale(.75);
    }
}


/* carousel */
.slider-text {
    position: absolute;
    right: 0;
    bottom: 0
}

#slider .card-content {
    max-width: 100%;
}

#slider {
    overflow: hidden;
}

@media screen and (max-width: 1023px) {
    #slider .item-slide img {
        width: 100px;
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: yellow;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.subtitle {
    color: white;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}

.left-image {
    border-radius: 11px;
    margin: 20px;
    box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

button.show {
    background-color: turquoise;
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 6px 18px -5px turquoise;
}