<template>
  <div>
    <!-- Welcome home and name -->
    <section id="parallax-1" class="hero is-large">
      <div class="hero-body">
        <div class="container">
          <h1 class="level-item has-text-centered title-name"  >
            <span>HELEN & ANAS</span>
            <span style="letter-spacing:-0.1em;"></span>
          </h1>
          <h6 class="level-item has-text-centered subtitle-name-cursive my-5 mt-5"  >
            <span style="letter-spacing:0.1em;"><span>Are Getting Married</span></span>
          </h6>
          <p class="level-item has-text-centered subtitle-name my-4"  >2.2.2024</p>
        </div>
      </div>
    </section>

    <section class="hero-pink is-medium">
      <div class="hero-body">
        <div class="container"  >
          <h1 class="title-content">You're Invited</h1>
          <div class="columns">
            <div class="column"> </div>
            <div class="column is-half">
              <p class="level-item has-text-centered subtitle-name my-6">2 Februari 2024</p>
              <p class="level-item has-text-centered subtitle-name my-6">
                Dengan segala hormat kami mengundang Bapak/Ibu/Saudara/i
                <br> Untuk hadir dalam acara pernikahan kami.
              </p>
            </div>
            <div class="column"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- Groom & bride section -->

    <section class="hero-basic is-medium">
      <div class="hero-body">
        <div class="container my-6 aos-init aos-animate"  >
          <h1 class="title-content">The Groom</h1>
          <div class="columns">
            <div class="column">
              <figure class="image is-128x128">
                <img class="is-rounded" src="~assets/images/anas.JPG">
              </figure>
            </div>
            <div class="column is-half">
              <p class="level-item has-text-centered subtitle-name my-4">Anas Ramadhan</p>
              <p class="level-item has-text-centered subtitle-name my-4">
                Putra dari Bapak Sutrisno Hadi (Alm) & Ibu Asti Darajati
              </p>
            </div>
            <div class="column"></div>
          </div>
        </div>

        <div class="container mb-6">
          <div id="heart"></div>
        </div>

        <div class="container my-6 aos-init aos-animate"  >
          <h1 class="title-content">The Bride</h1>
          <div class="columns is-hidden-mobile">
            <div class="column"></div>
            <div class="column">
              <p class="level-item has-text-centered subtitle-name my-4">Helen Febriani</p>
              <p class="level-item has-text-centered subtitle-name my-4">
                Putri dari Bapak Mohammad Yunus & Ibu Dian Indrawati (Alm)
              </p>
            </div>
            <div class="column ">
              <figure class="image is-128x128 is-pulled-right">
                <img class="is-rounded has-text-right" src="~assets/images/helen.JPG">
              </figure>
            </div>
          </div>

          <div class="columns is-mobile is-hidden-desktop">
            <div class="column is-offset-6">
              <figure class="image is-128x128">
                <img class="is-rounded" src="~assets/images/helen.JPG">
              </figure>
            </div>
          </div>

          <div class="columns is-mobile is-hidden-desktop">
            <div class="column">
              <p class="level-item has-text-centered subtitle-name my-4">Helen Febriani</p>
              <p class="level-item has-text-centered subtitle-name my-4">
                Putri dari Bapak Mohammad Yunus & Ibu Dian Indrawati (Alm)
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Story section -->

    <section class="hero-pink is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title-content mt-6"  >SHE SAID YES</h1>
          <p class="level-item has-text-centered subtitle-name my-2 mb-6"> Our Story</p>

          <div class="container is-clipped content-layout aos-init aos-animate"  >
            <div id="slider">
              <!-- Your slider content here -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Location section -->
    <section class="hero-basic is-medium">
      <div class="hero-body">
        <div class="container has-text-centered my-6">
          <h1 class="title-content"> Our Special Day</h1>
          <h1 class="subtitle-content my-3 mb-3">Waktu &/ Tempat</h1>

          <div class="columns is-vcentered my-6">
            <div class="column is-5 " data-aos="fade-left">
              <figure class="image is-4by3 left-image aos-init aos-animate">
                <img style="border-radius: 2%;" src="~assets/images/masjid.jpeg">
              </figure>
            </div>
            <div class="column is-6 is-offset-1" data-aos="fade-right">
              <p class="level-item has-text-centered subtext-content-cursive my-2 mt-3">Akad Nikah</p>
              <p class="level-item has-text-centered subtext-content my-1">Jumat, 2.2.2024</p>
              <a class="level-item has-text-centered subtext-content link-a my-1"
                href="https://maps.app.goo.gl/orV9oVqR5Gq5bx4Y9">Masjid Ramlie Mustofa</a>

              <p class="level-item has-text-centered subtext-content-cursive my-2 mt-6">Resepsi</p>
              <p class="level-item has-text-centered subtext-content my-1">Sabtu, 3.2.2024</p>
              <a class="level-item has-text-centered subtext-content link-a my-1"
                href="https://maps.app.goo.gl/vTDh1oSDWFQTgJeM8">Ponyo Bekasi</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero-pink is-medium">
      <div class="hero-body">
        <div class="container"  >
          <h1 class="title-content">GIFT & REGISTRY</h1>
          <div class="container">
            <h6 class="level-item has-text-centered text-content mt-5 mb-6">
              <span>
                Sebuah kehormatan dan kebahagian untuk kami jika Bapak/Ibu/Saudara/i berkenan hadir ke hari spesial kami
                serta
                memberikan do'a restu untuk kami. <br>
                Jika anda ingin memberikan sesuatu untuk kami, dengan senang hati kami akan menerima nya.
              </span>
            </h6>
          </div>
          <div class="container">
            <div class="columns is-12">
              <div class="column is-4 has-text-centered"   data-aos-easing="linear">
                <p class="level-item has-text-centered subtext-content-cursive">Helen Febriani</p>
                <hr />
                <button class="button show is-small is-primary js-modal-trigger" data-target="modal-bank-anas">show</button>
              </div>
              <div class="column is-4 has-text-centered"></div>
              <div class="column is-4 has-text-centered"   data-aos-easing="linear">
                <p class="level-item has-text-centered subtext-content-cursive">Anas Ramadhan</p>
                <hr />
                <button class="button show is-small is-primary js-modal-trigger" data-target="modal-bank-anas">show</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="parallax-2" class="hero is-large ">
      <div class="hero-body">
        <div class="container">
          <h1 class="level-item has-text-centered quotes-content-cursive">
            “Those that truly love have roots that grow towards each other underground,
            And when all the pretty blossom have fallen from their branches,
            They find that they are one tree and not two.” — Louis de Bernières
          </h1>
        </div>
      </div>
    </section>

    <!-- Modal bank account -->
    <div id="modal-bank-feby" class="modal"  >
      <!-- Modal content goes here -->
    </div>

    <div id="modal-bank-anas" class="modal"  >
      <!-- Modal content goes here -->
    </div>

    <footer class="footer">
      <div class="content has-text-centered">
        <p class="subtext-content">
          Made with Love and <strong>Patient</strong>
        </p>
        <p class="subtext-content-cursive">
          Helen & Anas
        </p>
      </div>
    </footer>
  </div>
</template>

<style lang="scss" scoped>
  @import '~assets/css/home.css';
</style>

<script>
  import Logo from '~/components/Logo.vue';

  export default {
    components: {
      Logo
    }
  };
</script>
