<template>
    <div>
      <section class="hero is-info is-fullheight">
        <div class="hero-body">
          <div class="container mt-6">
            <div class="columns is-hidden-mobile">
              <div class="column is-narrow">
                <img class="leaf-image" src="~assets/images/right-leave.webp">
              </div>
              <div class="column is-half">
                <h1 class="title-content content mt-4">Together with their family</h1>
                <p class="level-item our-name my-4">Helen & Anas</p>
                <h1 class="title-content content">2.2.2024</h1>
                <h1 class="title-content content mb-0 mt-4">Kepada Yth.</h1>
                <h1 class="title-content guest-name">Herman Madechal dan Keluarga</h1>
              </div>
              <div class="column">
                <img class="leaf-image-right" src="~assets/images/left-leave.webp">
              </div>
            </div>
  
            <div class="columns is-mobile is-hidden-desktop">
              <div class="column">
                <img class="leaf-image" src="~assets/images/right-leave.webp">
              </div>
              <div class="column is-half">
                <h1 class="title-content content">Together with their family</h1>
                <p class="level-item our-name my-4">Helen & Anas</p>
                <h1 class="title-content content">2.2.2024</h1>
                <h1 class="title-content content mb-0">Kepada Yth.</h1>
                <h1 class="title-content guest-name">Herman Madechal dan Keluarga</h1>
              </div>
              <div class="column">
                <img class="leaf-image-right" src="~assets/images/left-leave.webp">
              </div>
            </div>
  
            <div class="buttons is-centered">
              <nuxt-link to="/home" class="button is-danger button-open">Buka Undangan</nuxt-link>
            </div>
          </div>
        </div>
      </section>
    </div>
  </template>
  
  <style lang="scss" scoped>
    @import '~assets/css/welcome.css';
  </style>
  
  <script src="~/scripts/script.js"></script>
  <script src="~/scripts/home.js"></script>

  <script>
  export default {
    // Your component logic goes here
  };
  </script>
  